x64/Release/node_modules
.cache
.vs
currency_converter.sln
currency_converter/currency_converter.vcxproj
currency_converter/currency_converter.vcxproj.filters
currency_converter/currency_converter.vcxproj.user
currency_converter/.cache
currency_converter/x64
currency_converter/x64/Release/currency_converter.log
x64/Release/currency_converter.obj
Release/currency_converter.ipdb
x64/Release/.well-known
x64/Release/currency_converter.exe
x64/Release/currency_converter.iobj
x64/Release/currency_converter.pdb