x64/Release/node_modules
.cache
.vs
currency_converter.sln
currency_converter/currency_converter.vcxproj
currency_converter/currency_converter.vcxproj.filters
currency_converter/currency_converter.vcxproj.user
currency_converter/.cache
x64/Release/currency.E8C8ACC1.tlog
x64/Release/currency_converter.Build.CppClean.log
x64/Release/currency_converter.exe.recipe
x64/Release/currency_converter.log
x64/Release/currency_converter.obj
x64/Release/currency_converter.log
x64/Release/dom_pk_codes.obj
x64/Release/extras.obj
x64/Release/key_codes.obj
x64/Release/vc141.pdb
x64/Release/vc142.pdb
x64/Release/vcpkg.applocal.log
Release/currency_converter.ipdb
x64/Release/.well-known
x64/Release/currency_converter.exe
x64/Release/currency_converter.iobj
x64/Release/currency_converter.pdb